.primary-nav {
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.primary-nav ul {
  justify-content: center;
  display: flex;
  gap: 2rem;
  margin: 2em;
}
.primary-nav ul li {
  list-style-type: none;
}

.primary-nav a {
  color: var(--colorMain-black);
}
